# Build output
backend/TodoApi/bin/
backend/TodoApi/obj/

# Visual Studio files
backend/TodoApi/.vs/
backend/TodoApi/*.suo
backend/TodoApi/*.user
backend/TodoApi/*.log
backend/TodoApi/*.tmp
backend/TodoApi/*.bak

# NuGet
backend/TodoApi/packages/
backend/TodoApi/*.nuget.props
backend/TodoApi/*.nuget.targets

# Configuration
backend/TodoApi/appsettings.Development.json
backend/TodoApi/*.pubxml.user

# OS-specific
backend/TodoApi/.DS_Store
backend/TodoApi/Thumbs.db

# Database
backend/TodoApi/todoapp.db
backend/TodoApi/todoapp.db-shm
backend/TodoApi/todoapp.db-wal
backend/TodoApi/todoapp.db.backup


########
# Front end
#######
# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
frontend/angular-ui/dist
frontend/angular-ui/tmp
frontend/angular-ui/out-tsc
frontend/angular-ui/bazel-out

# Node
frontend/angular-ui/node_modules
frontend/angular-ui/npm-debug.log
frontend/angular-ui/yarn-error.log

# IDEs and editors
frontend/angular-ui/.idea/
frontend/angular-ui/.project
frontend/angular-ui/.classpath
frontend/angular-ui/.c9/
frontend/angular-ui/*.launch
frontend/angular-ui/.settings/
frontend/angular-ui/*.sublime-workspace

# Visual Studio Code
frontend/angular-ui/.vscode/*
frontend/angular-ui/.vscode/settings.json
frontend/angular-ui/.vscode/tasks.json
frontend/angular-ui/.vscode/launch.json
frontend/angular-ui/.vscode/extensions.json
frontend/angular-ui/.history/*

# Miscellaneous
frontend/angular-ui/.angular/cache
frontend/angular-ui/.sass-cache/
frontend/angular-ui/connect.lock
frontend/angular-ui/coverage
frontend/angular-ui/libpeerconnection.log
frontend/angular-ui/testem.log
frontend/angular-ui/typings

# System files
frontend/angular-ui/.DS_Store
frontend/angular-ui/Thumbs.db

frontend/angular-ui/node_modules
frontend/angular-ui/npm-debug.log
frontend/angular-ui/yarn-error.log

# IDEs and editors
frontend/angular-ui/.idea/
frontend/angular-ui/.project
frontend/angular-ui/.classpath
frontend/angular-ui/.c9/
frontend/angular-ui/*.launch
frontend/angular-ui/.settings/
frontend/angular-ui/*.sublime-workspace

# Visual Studio Code
frontend/angular-ui/.vscode/*
!frontend/angular-ui/.vscode/settings.json
!frontend/angular-ui/.vscode/tasks.json
!frontend/angular-ui/.vscode/launch.json
!frontend/angular-ui/.vscode/extensions.json
frontend/angular-ui.history/*

# Miscellaneous
frontend/angular-ui/.angular/cache
frontend/angular-ui/.sass-cache/
frontend/angular-ui/connect.lock
frontend/angular-ui/coverage
frontend/angular-ui/libpeerconnection.log
frontend/angular-ui/testem.log
frontend/angular-ui/typings

# System files
frontend/angular-ui/.DS_Store
frontend/angular-ui/Thumbs.db
